<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <span>Nahid Hasan</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <span>Nahid Hasan</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <span>Nahid Hasan</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <span>Nahid Hasan</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <button color="primary" mat-raised-button>Check</button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <mat-form-field>
      <mat-select placeholder="Select Theme" (change)="changeTheme()" [(ngModel)]="theme" [(value)]="theme">
        <mat-option value="indigo-theme">Indigo Theme</mat-option>
        <mat-option value="purple-theme">Purple Theme</mat-option>
        <mat-option value="pink-theme">Pink Theme</mat-option>
        <mat-option value="light-theme">Light Theme</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>
