<app-navbar></app-navbar>
<div style="margin-top: 80px" fxLayout="column" fxLayoutAlign="center center">
  <div class="col-lg-4">
    <mat-card class="user-login-top">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="title">Reset Password</span>
      </div>
    </mat-card>
    <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
        <br>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="UserLogin(resetPasswordForm.value,resetPasswordForm.valid)">
          <div class="input-groups">
            <span class="input-groups-addon">
              <i class="material-icons">email</i>
            </span>
            <mat-form-field>
                <input formControlName="Email" matInput placeholder="Email">
                <mat-error *ngIf="resetPasswordForm.controls['Email'].errors?.required">
                  <strong>Email</strong> is required
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.controls['Email'].errors?.pattern">
                  <strong>Email</strong> is not valid
                </mat-error>
            </mat-form-field>
          </div>
          <div class="input-groups">
            <span class="input-groups-addon">
              <i class="material-icons">lock_outline</i>
            </span>
            <mat-form-field>
                <input formControlName="Password" type="password" matInput placeholder="New Password">
                <mat-error *ngIf="resetPasswordForm.controls['Password'].errors?.required">
                  <strong>New Password</strong> is required
                </mat-error>
            </mat-form-field>
          </div>
          <div class="input-groups">
            <span class="input-groups-addon">
              <i class="material-icons">lock_outline</i>
            </span>
            <mat-form-field>
                <input formControlName="ConfirmPassword" type="password" matInput placeholder="Confirm Password">
                <mat-error *ngIf="resetPasswordForm.controls['ConfirmPassword'].errors?.required">
                  <strong>Confirm Password</strong> is required
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.controls['ConfirmPassword'].errors?.equalTo">
                  <strong>Confirm Password</strong> is not match
                </mat-error>
            </mat-form-field>
          </div>
          <div style="margin-top: 15px" fxLayout="column" fxLayoutAlign="center center">
              <button type="submit" mat-raised-button color="warn"><i class="fa fa-key"></i> Reset Password</button>
          </div>
        </form>
    </div>
  </div>
</div>
