.section-padding {
  padding: 50px 0 20px 0;
}

.margin-top {
  margin-top: 0px !important;
}
.user-login-top {
  position: relative;
  margin-left:15px !important;
  margin-right:15px !important;
  background: linear-gradient(60deg, #ab47bc, #7b1fa2) !important;
  box-shadow:0 16px 50px -12px rgba(0, 0, 0, 0.56),
	0 4px 30px 0px rgba(0, 0, 0, 0.12),
  0 8px 20px -5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
}

.login-form {
	background: #fff;
  padding:80px 20px 20px 20px;
  margin-top: -40px;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
}


.input-groups {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-groups .input-groups-addon {
	border: 0;
  background: transparent;
  padding-right: 10px;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}


.title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.hyperLink {
  color: rgba(4, 68, 243, 0.61);
  font-size: 15px;
  text-decoration: underline;
}

.hyperLink:hover {
  cursor: pointer;
}

.titleText {
  font-size: 17px;
  color: rgba(6, 158, 16, 0.699);
}
