<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div style="background-color: white" fxLayout="column" fxLayoutAlign="center center">
      <div class="col-lg-4">
        <mat-card class="user-login-top">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="title">Change Password</span>
          </div>
        </mat-card>
        <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
            <br>
            <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassword(changePasswordForm.value,changePasswordForm.valid)">
              <div class="input-groups">
                <span class="input-groups-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <mat-form-field>
                    <input formControlName="OldPassword" type="password" matInput placeholder="Old Password">
                    <mat-error *ngIf="changePasswordForm.controls['OldPassword'].errors?.required">
                      <strong>Old Password</strong> is required
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="input-groups">
                <span class="input-groups-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <mat-form-field>
                    <input formControlName="NewPassword" type="password" matInput placeholder="New Password">
                    <mat-error *ngIf="changePasswordForm.controls['NewPassword'].errors?.required">
                      <strong>New Password</strong> is required
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="input-groups">
                <span class="input-groups-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <mat-form-field>
                    <input formControlName="ConfirmPassword" type="password" matInput placeholder="Confirm Password">
                    <mat-error *ngIf="changePasswordForm.controls['ConfirmPassword'].errors?.required">
                      <strong>Confirm Password</strong> is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.controls['ConfirmPassword'].errors?.equalTo">
                      <strong>Confirm Password</strong> is not match
                    </mat-error>
                </mat-form-field>
              </div>
              <div style="margin-top: 15px" fxLayout="column" fxLayoutAlign="center center">
                  <button type="submit" mat-raised-button color="warn"><i class="fa fa-key"></i> Change Password</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
